
  <br>
  <div class="row1">
  <div class="column1 sticky" style="border-style: outset;">
  <div id="carousel1" class="carousel slide" data-ride="carousel" style="width:500px; height:350px; position:sticky;">
    <ol class="carousel-indicators">
      <li data-target="#carousel1" data-slide-to="0" class="active"></li>
      <li data-target="#carousel1" data-slide-to="1"></li>
    <li data-target="#carousel1" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active"><img src="assets/camera/sony.jpeg" alt="First slide image" class="center-block">
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
      </div>
      <div class="item"><img src="assets/camera/sony2.jpeg" alt="Second slide image" class="center-block">
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
      </div>
     <div class="item"><img src="assets/camera/sony3.jpeg" alt="Second slide image" class="center-block">
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#carousel1" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><span class="sr-only">Previous</span></a><a class="right carousel-control" href="#carousel1" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span class="sr-only">Next</span></a></div>
    <br>
    <br>
     <a href="/cart"><button class="button button1">ADD TO CART</button></a>
    <a href="/checkout"><button class="button button2">BUY NOW</button></a>
  </div>
  <div class="column1 content" style="margin-left: 30px;">
      <h2>Sony DSC-WX220/BC IN5 Point & Shoot Camera  (Black)</h2>
  
      <h3>₹11,990&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:green;">4% off</span></h3>
      <h5><img src="assets/poco/emi.png"><b>No cost EMI ₹1,999/month. Standard EMI also available</b></h5>
      <img src="assets/poco/bank.png"><b>Bank OfferExtra 5% off* with Axis Bank Buzz Credit Card1</b>
      <br>
      <span class="heading">User Rating</span>
      <br>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <h4>4.1 average based on 254 reviews. </h4>
      <div class="row">
          <div class="side">
            <div>5 star</div>
          </div>
          <div class="middle">
            <div class="bar-container">
              <div class="bar-5"></div>
            </div>
          </div>
          <div class="side right">
            <div>150</div>
          </div>
          <div class="side">
            <div>4 star</div>
          </div>
          <div class="middle">
            <div class="bar-container">
              <div class="bar-4"></div>
            </div>
          </div>
          <div class="side right">
            <div>63</div>
          </div>
          <div class="side">
            <div>3 star</div>
          </div>
          <div class="middle">
            <div class="bar-container">
              <div class="bar-3"></div>
            </div>
          </div>
          <div class="side right">
            <div>15</div>
          </div>
          <div class="side">
            <div>2 star</div>
          </div>
          <div class="middle">
            <div class="bar-container">
              <div class="bar-2"></div>
            </div>
          </div>
          <div class="side right">
            <div>6</div>
          </div>
          <div class="side">
            <div>1 star</div>
          </div>
          <div class="middle">
            <div class="bar-container">
              <div class="bar-1"></div>
            </div>
          </div>
          <div class="side right">
            <div>20</div>
          </div> 
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          
        <h3><b>Specification</b></h3>
        <table>
            <tr>
              <th>general</th>
              <th></th>
          
            </tr>
            <tr>
              <td>Model Name</td>
              <td>DSC-WX220/BC IN5</td>
          
            </tr>
            <tr>
              <td>Series</td>
              <td>Cyber-shot</td>
            
            </tr>
            <tr>
              <td>Effective Pixel</td>
              <td>18.2 MP</td>
           
            </tr>
            <tr>
              <td>Optical Zoom</td>
              <td>10</td>
            </tr>
          </table>
          <br>
          <table>
            <tr>
              <th>Sensor And Sensitivity Features</th>
              <th></th>
          
            </tr>
            <tr>
              <td>Sensor Type</td>
              <td>CMOS</td>
          
            </tr>
            <tr>
              <td>ISO Rating</td>
              <td>ISO 100 - 1600 (Auto)</td>
            
            </tr>
            <tr>
              <td>Other Sensor Features</td>
              <td>Sensor Type: Exmor R CMOS</td>
           
            </tr>
          </table>
          <br>
          <table>
            <tr>
              <th>Focus Features</th>
              <th></th>
          
            </tr>
            <tr>
              <td>Auto Focus</td>
              <td>Yes</td>
          
            </tr>
            <tr>
              <td>Focus</td>
              <td>Auto</td>
            
            </tr>
            <tr>
              <td>Digital Zoome</td>
              <td>102x</td>
            </tr>
          </table>
          <br>
          <table>
            <tr>
              <th>Lens & Exposure Features</th>
              <th></th>
          
            </tr>
            <tr>
              <td>Type of Lens</td>
              <td>Sony G</td>
          
            </tr>
            <tr>
              <td>Aperture Range</td>
              <td>F3.3 - F5.9</td>
            
            </tr>
            <tr>
              <td>Smile Shutter</td>
              <td>Yes</td>
            </tr>
          </table>
          <br>
          <table>
            <tr>
              <th>Image Features</th>
              <th></th>
          
            </tr>
            <tr>
              <td>Image Stabilizer</td>
              <td>Yes</td>
          
            </tr>
            <tr>
              <td>Gross Pixel</td>
              <td>18.9 Megapixel</td>
            
            </tr>
            <tr>
              <td>Face Detection</td>
              <td>Yes</td>
            </tr>