<body><br><br><br>
  <div class="container" >
          <article>
          <h1>Microsoft Is Building The World’s First Scalable Quantum Computer</h1>
          <img src="assets/ms/m.jpg" width="1000px" height="500px">
          <br><br>Microsoft is joining hands with the researcher and engineers of Copenhagen University, Denmark, to build the world’s first scalable quantum computer.
          <br>
          <br>According to their blog post, Microsoft’s Scientific director Peter Krogstrup says the “computer of tomorrow” will be able to perform complex calculations in minutes or hours, which the current computers will take at least billion years to complete.
          <br><br>
          Also, the future computer will have massive improvements in the cooling system. Temperature is very crucial for quantum states (quantum system) and computer needs to be cooled down to zero to make it all work.
          <br>
          <br>
          Krogstrup believes that the new computing system will have significant implications on the society. For instance, it will help in developing and improving medicine, enabling people to build new medicines. It will also change the direction of how cybersecurity works. Overall, Microsoft states that the quantum computer will “set new standards for how data is computed and processed.”
          <br>
          <br>
          <iframe width="1000" height="360" src="https://www.youtube.com/embed/doNNClTTYwE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          <br>
          <br>
          
          Microsoft is also launching Quantum Materials Lab in Kongens Lyngby, Denmark, to move forward with their vision of building futuristic computers.
          <br>
          <br>
          Outside the lab, Microsoft has transformed the park area into a “Quantum Park.” People can come to the park to learn about the leaps in the technology and basics behind the building of the new Quantum computer.  
          <br>
          <br>
          Apart from this, Microsoft has four other quantum centers around the world. However, “the heart of the computer – the so-called qubit – will be developed from the Microsoft Quantum Material Lab in Denmark.”
         </article>
          </div>
          <app-footer></app-footer>
        </body>