<body style="background-color: #eee;height: 1300px;">
  <br>
  <br>
  <br>
  <div class="row">
    <div class="column" style="background-color:white;width:1000px;height:1100px;margin-left:60px;">
      <div>
        <h3 style="float:left; color:darkmagenta; text-align: center;margin-left: 350px;"><b>MY CART(2)</b></h3><div style="float:right;margin-right:40px;"><div style="float:left;margin-top: 15px;"><img src="assets/cart/location.PNG"></div>&nbsp; &nbsp; &nbsp; <div style="float: right;"><h3 style="color: blue;">395009  <span></span></h3></div></div>
      </div>
      <br>
      <br>
      <br>
      <hr>
      <div class="row1">
          <div class="column1" style="width:250px;height:400px;">
            <img src="assets/cart/poco2.PNG">
          </div>
          <div class="column1" style="width:730px;height:400px;">
            <div>
              <div style="float:left;">
              <ul  *ngFor =" let datas of data1">
                <h4>{{datas.phone}}</h4>
                <p style="color:#aaa;">{{datas.ram}}</p>
                <p style="color:#aaa;">{{datas.seller}} </p>
                <h4><b>{{datas.price}}</b> &nbsp; &nbsp;<span style="color:green;">4% off</span>&nbsp; &nbsp; <span style="color:green;"><b>1 Offer Applied</b></span> </h4>
              </ul>
              </div>
              <div style="float:right;">
                <br>
                <p>Delivery in 2 days,Mon | Free</p>
                <p style="color:#aaa;">10 days Replacement Policy</p>
              </div>
            </div>
            <div style="border: 1px solid black;border-radius: 5px;margin-top:150px;height:120px;padding:10px;background-color: #eee;">
              <div style="float:left;">
                <h4>Buyback Guarantee for ₹149</h4>
                <h4>Guaranteed discount of ₹11,000 on exchanging this</h4>
                <h4>mobile within 8 months.<b><span style="color:blue; ">Know more</span></b></h4>
              </div>
              <div style="float:right;margin-top:10px;">
                  <button class="button button2" routerLink="/confirm">BUY NOW</button>
              </div> 
           </div>
            <br>
            <br>
            <div>
              <h4 class="w" style="float:left;">SAVE FOR LATER</h4><h4 class="w2" style="float:right;margin-right: 300px;">REMOVE</h4>
            </div>
          </div>
      </div>
      <hr>
      <div class="row1">
          <div class="column1" style="width:250px;height:400px;background-color: white;">
            <img height="300px" src="assets/vivo/vivov11.jpeg">
          </div>
          <div class="column1" style="width:730px;height:400px;background-color: white;">
            <div>
              <div style="float:left;">
                <ul  *ngFor=" let datam of data2">
                <h4>{{datam.phone}}</h4>
                <p style="color:#aaa;">{{datam.ram}}</p>
                <p style="color:#aaa;">{{datam.seller}} </p>
                <h4><b>{{datam.price}}</b> &nbsp; &nbsp;<span style="color:green;">4% off</span>&nbsp; &nbsp; <span style="color:green;"><b>3 Offer Applied</b></span> </h4>
                </ul>
              </div>
              <div style="float:right;">
                <br>
                <p>Delivery in 3-4 days,Mon | Free</p>
                <p style="color:#aaa;">10 days Replacement Policy</p>
              </div>
            </div>
            <div style="border: 1px solid black;border-radius: 5px;margin-top:150px;height:120px;padding:10px;background-color: #eee;">
              <div style="float:left;">
                <h4>Buyback Guarantee for ₹99</h4>
                <h4>Guaranteed discount of ₹6,500 on exchanging this</h4>
                <h4>mobile within 8 months.<b><span style="color:blue; ">Know more</span></b></h4>
              </div>
              <div style="float:right;margin-top:10px;">
                  <button class="button button2" routerLink="/confirm">BUY NOW</button>
              </div>
            </div>
            <br>
            <br>
            <div>
                <h4 class="w" style="float:left;">SAVE FOR LATER</h4><h4 class="w2" style="float:right;margin-right: 300px;">REMOVE</h4>
            </div>
          </div>
      </div>
      <hr>
      &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;<a routerLink="/deals"><button class="button button2"> CONTINUE WITH SHOPPING</button></a>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;<a routerLink="/checkout"><button class="button3 button4">PLACE ORDER</button></a>
    </div>
    <div class="column" style="background-color:white;width:400px;height:500px;margin-left:1100px;position:fixed;">
      <h4 style="color:#aaa;"><b>PRICE DETAILS</b></h4>
      <hr>
      <div>
        <div style="float:left;">
          <h4>Price(2 items)</h4>
          <br>
          <h4>Delivery Charges</h4>
        </div>
        <div style="float:right;">
            <h4>₹38,998</h4>
            <br>
            <h4 style="color:green;"><b>FREE</b></h4>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <hr>
      <div>
          <div style="float:left;">
            <h4>Amount Payable</h4>
            <br>
          </div>
          <div style="float:right;">
              <h4>₹38,998</h4>
              <br>
          </div>
      </div>
      <br>
      <br>
      <hr>
      <h4 style="color:green;"><b>Your Total Savings on this order ₹1,000</b></h4>
    </div>
  </div>
</body>