<body>
<br>
<br>
    <div class="container2" style="margin-top: 9px;">  
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
    
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <a routerLink="/poco"><img src="assets/at/big3.PNG" alt="Los Angeles" style="width:100%;"></a>
          </div>
    
          <div class="item">
            <a routerLink="/camera"><img src="assets/at/realme2.PNG" alt="Chicago" style="width:100%;"></a>
          </div>
        
          <div class="item">
            <a routerLink="/vivo"><img src="assets/at/big2.PNG" alt="New york" style="width:100%;"></a>
          </div>
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <!--<a href="login.html"><img src="mob.jpg"></a>-->   
<br>
<br>
  <div>
      <h2 style="float:left"><b>LATEST SMARTPHONES</b></h2><a href="/deals"><button style="float:right;" class="button button1">VIEW ALL</button></a>
      </div>
      <br>
      <br>
      <br>
      <br>
     
<div>
    <div class="container1">
        <div class="row">
         <div class="col-md-12">
           <div class="carousel slide multi-item-carousel" id="theCarousel">
             <div class="carousel-inner">
               <div class="item active">
                <div class="col-xs-2"><a routerLink="/poco"><img src="assets/at/small.PNG" class="img-responsive"></a></div>
               
                <div class="col-xs-2"><a routerLink="/vivo"><img src="assets/at/small2.PNG" class="img-responsive"></a></div><div class="bottom-right"></div>
      
                <div class="col-xs-2"><a routerLink="/camera"><img src="assets/at/small3.PNG" class="img-responsive"></a></div>
         
                <div class="col-xs-2"><a routerLink="/poco"><img src="assets/at/small4.PNG" class="img-responsive"></a></div>
               
                <div class="col-xs-2"><a routerLink="/camera"><img src="assets/at/small5.PNG" class="img-responsive"></a></div><div class="bottom-right"></div>
      
                <div class="col-xs-2"><a routerLink="/poco"><img src="assets/at/small6.PNG" class="img-responsive"></a></div>
               </div>
               <div class="item">
                <div class="col-xs-2"><a routerLink="/poco"><img src="assets/at/small6.PNG" class="img-responsive"></a></div>
               
                <div class="col-xs-2"><a routerLink="/vivo"><img src="assets/at/small12.PNG" class="img-responsive"></a></div>
               
                <div class="col-xs-2"><a routerLink="/poco"><img src="assets/at/small8.PNG" class="img-responsive"></a></div>
           
                <div class="col-xs-2"><a routerLink="/camera"><img src="assets/at/small9.PNG" class="img-responsive"></a></div>
               
                <div class="col-xs-2"><a routerLink="/poco"><img src="assets/at/small10.PNG" class="img-responsive"></a></div>
               
                <div class="col-xs-2"><a routerLink="/camera"><img src="assets/at/small11.PNG" class="img-responsive"></a></div>
               </div>
               <!-- add  more items here -->
               <!-- Example item start:  -->
               <!--  Example item end -->
             <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
             <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
            </div>
          </div>
         </div>    
        </div>
     </div>
  <br>
  <h2><b>MAHA CASHBACK OFFERS</b></h2>
<br>
<div class="row">
    <div class="column">
      <a routerLink="/camera"><img src="assets/at/laptop1.PNG" alt="Snow" style="width:100%"></a>
    </div>
    <div class="column">
        <a routerLink="/poco"><img src="assets/at/acer1.PNG" alt="Forest" style="width:100%"></a>
    </div>
    <div class="column">
        <a routerLink="/vivo"><img src="assets/at/powerbank.PNG" alt="Mountains" style="width:100%"></a>
    </div>
    <div class="column">
        <a routerLink="/vivo"><img src="assets/at/google.PNG" alt="Mountains" style="width:100%"></a>
    </div>
  </div>
  <br>
  <br>
  <h2><b>LOWEST EARPHONE PRICE</b></h2>
  <div class="row">
      <div class="column">
        <a routerLink="/camera"><img src="assets/at/ear1.PNG" alt="Snow" style="width:100%"></a>
      </div>
      <div class="column">
          <a routerLink="/poco"><img src="assets/at/ear2.PNG" alt="Forest" style="width:100%"></a>
      </div>
      <div class="column">
          <a routerLink="/vivo"><img src="assets/at/ear3.PNG" alt="Mountains" style="width:100%"></a>
      </div>
      <div class="column">
          <a routerLink="/vivo"><img src="assets/at/ear4.PNG" alt="Mountains" style="width:100%"></a>
      </div>
    </div>
  
<h1 style="float:left"><b>LAPTOPS</b></h1><a routerLink="/deals"><button style="float:right;" class="button button1">VIEW ALL</button></a>
</div>
<br>
<br>
<br>
<br>
<br>
<div class="container1">
    <div class="row">
     <div class="col-md-12">
       <div class="carousel slide multi-item-carousel" id="theCarouse2">
         <div class="carousel-inner">
           <div class="item active">
            <div class="col-xs-4"><a routerLink="/camera"><img src="assets/at/laptopoo.jpg" class="img-responsive"></a></div>
           
            <div class="col-xs-4"><a routerLink="/poco"><img src="assets/at/laptopo.jpg" class="img-responsive"></a></div><div class="bottom-right"></div>
  
            <div class="col-xs-4"><a routerLink="/vivo"><img src="assets/at/desktop.jpg" class="img-responsive"></a></div>
           </div>
           <div class="item">
            <div class="col-xs-4"><a routerLink="/camera"><img src="assets/at/iMac.jpg" class="img-responsive"></a></div>
           
            <div class="col-xs-4"><a routerLink="/poco"><img src="assets/at/laptopooo.jpg" class="img-responsive"></a></div>
           
            <div class="col-xs-4"><a routerLink="/vivo"><img src="assets/at/laptopoooo.jpg" class="img-responsive"></a></div>
           </div>
           <!-- add  more items here -->
           <!-- Example item start:  -->
           <!--  Example item end -->
         <a class="left carousel-control" href="#theCarouse2" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
         <a class="right carousel-control" href="#theCarouse2" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>
      </div>
     </div>    
    </div>
 </div> 
<br>
<br>
<br>
<h2><b>LAPTOP AND ASSESORIES</b></h2>
<br>
<br>
<div class="row11">
  <div class="column11" style="background-color:#ccc; width:300px;">
    <h2 stype="text-color:red;">The Ultimate Price Drop is Happening now</h2>
    <a routerLink="/poco"><button class="button11">BUY NOW --></button></a>
  </div>
  <div class="column11" style="background-color:#bbb; width:50px;">
      <a routerLink="/vivo"><img src="assets/at/big.PNG" alt="Chicago"></a>
  </div>
  <div class="column11" style="background-color:#bbb; width:50px; margin-left: 890px;">
      <a routerLink="/vivo"><img src="assets/at/pixel.PNG" alt="Chicago"></a>
 </div>

</div>
<br>
<br>
<!------ Include the above in your HEAD tag ---------->

<!--footer starts from here-->
<footer class="footer">
    <div class="container bottom_border">
    <div class="row">
    <div class=" col-sm-4 col-md col-sm-4  col-12 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
    <!--headin5_amrc-->
    <p class="mb10">The Techy Monk is the Tech StartUp which is now leading in the Tech Field.Techy Monk Pvt Ltd. is an Indian electronic & Tech  e-commerce company based in Nadiad, India. Founded by Kunj Naik and Ravi Pandya  in 2018, the company initially focused on Tech Products and electronics,.</p>
    
    <p><i class="fa fa-phone"></i>  +91-9999878398  </p>
    <p><i class="fa fa fa-envelope"></i> techymonk@gmail.com  </p>


    </div>



    <div class=" col-sm-4 col-md  col-6 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
    <!--headin5_amrc-->
    <ul class="footer_ul_amrc">
    <li><a routerLink="/at">Home</a></li>
    <li><a routerLink="/deals">Deals Of The Day</a></li>
    <li><a routerLink="/blog">Techy Monk Blog</a></li>
    </ul>
    <!--footer_ul_amrc ends here-->
    </div>


    <div class=" col-sm-4 col-md  col-12 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
    <!--headin5_amrc ends here-->

    <ul class="footer_ul2_amrc">
    <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li>
    <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li>
    <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li>
    </ul>
    <!--footer_ul2_amrc ends here-->
    </div>
    </div>
    </div>


    <div class="container">
    <ul class="foote_bottom_ul_amrc">
    <li><a href="">Home</a></li>
    <li><a href="">About</a></li>
    <li><a href="">Services</a></li>
    <li><a href="">Pricing</a></li>
    <li><a href="">Blog</a></li>
    <li><a href="">Contact</a></li>
    </ul>
    <!--foote_bottom_ul_amrc ends here-->
    <p class="text-center">Copyright @2017 | Designed With by <a href="#">Your Company Name</a></p>

    <!--social_footer_ul ends here-->
    </div>
</footer>
</body>