<body>
  <br><br><br>
  <div class="container" >
      <article>
          <h1>Google Admits: Third-Party Apps Can Still Access Your Gmail Data</h1>
          <img src="assets/gmail/Gmail.jpg" width="1000px" height="500px">
          <br><br>Back in July 2018, it was reported that Google shares Gmail user data with third-party apps and US lawmakers had asked the company to explain what it was up to.
          <br>
          <br>
          Now Google has officially admitted to not only giving Gmail account data to third-party developers, but also allowing them to share that data with other third parties as well.
          <br><br>
          Google has defended its policies blatantly by saying: “Developers may share data with third parties so long as they are transparent with the users about how they are using the data.”
          <br>
          <br>
          The search engine giant already explained in a blog post that it allows third-party services such as email clients, trip planners, and customer relationship management systems to scan Gmail data.
          <br>
          <br>
          Even though Google claims that emails are typically read in an automated manner, humans also have access to it — which is a disturbing fact.
          <br>
          <br>
          Google’s head of U.S. public policy, Susan Molinari, wrote in a letter to the lawmakers that “the privacy policy (is) easily accessible to users to review before deciding whether to grant access.”
          <br>
          <br>
          Users can review the apps they have provided access to on the Google Account page and choose to revoke permissions for the apps they do not wish to share data with. Or they can choose not to download those apps at all. 
          <br>
          <br>    
          Those who are concerned about the privacy of their sensitive email data should immediately disable the permissions given to third-party developers on Gmail.
          <br>
          <br>
      </article>
  </div>
  <app-footer></app-footer>
</body>