
<div class="row1">
  <div class="column1">
    <div class="container1" style="display: inline-block; margin-top:100px;">
      <img src="assets/confirm/poco.jpeg">
    </div>
  </div>
<div class="column1 content">
    
    <div style="margin-top:10px;">
        <button class="button button2" style="margin-left:330px" routerLink="home">Continue Shopping</button>
    </div>
   
<section class="order_details p_120">
  <div class="container">
    <h3 class="title_confirmation" >Thank you. Your order has been received.</h3>
    <div class="row order_d_inner">
      <div class="col-lg-4">
        <div class="details_item">
          <h4>Order Info</h4>
          <ul class="list">
            <li><a href="#"><span>Order number</span> : 60235</a></li>
            <li><a href="#"><span>Date</span> :1/9/2018</a></li>
            <li><a href="#"><span>Total</span> :₹23,999 </a></li>
            <li><a href="#"><span>Payment method</span> : Debit Card</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="details_item">
          <h4>Billing Address</h4>
          <ul class="list">
            <li><a href="#"><span>Street</span> :116,DDu Boys Hostel,Dev Prem Park</a></li>
            <li><a href="#"><span>City</span> : Nadiad</a></li>
            <li><a href="#"><span>Country</span> :India</a></li>
            <li><a href="#"><span>Postcode </span> :387001 </a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="details_item">
          <h4>Shipping Address</h4>
          <ul class="list">
            <li><a href="#"><span>Address:</span> : 116,DDu Boys Hostel,Dev Prem Park</a></li>
            <li><a href="#"><span>City</span> : Nadiad</a></li>
            <li><a href="#"><span>Country</span> : India</a></li>
            <li><a href="#"><span>Postcode </span> :387001</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="order_details_table">
      <h2>Order Details</h2>
      <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Product</th>
          <th scope="col">Quantity</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <p>Poco F1 (Graphite Black, 128 GB)  (6 GB RAM)</p>
          </td>
          <td>
            <h5>x 01</h5>
          </td>
          <td>
            <p>₹23,999</p>
          </td>
        </tr>
        <tr>
          <td>
            <h4>Subtotal</h4>
          </td>
          <td>
            <h5></h5>
          </td>
          <td>
            <p>₹23,999</p>
          </td>
        </tr>
        <tr>
          <td>
            <h4>Shipping</h4>
          </td>
          <td>
            <h5></h5>
          </td>
          <td>
            <p>Free</p>
          </td>
        </tr>
        <tr>
          <td>
            <h4>Total</h4>
          </td>
          <td>
            <h5></h5>
          </td>
          <td>
            <p>₹23,999</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
    </div>
  </div>
</section>
</div>
</div>
<app-footer></app-footer>