<body>
<div class="container" >
  <article>
  <h1>
  Linux Boots On “Shakti” — India’s First Ever RISC-V Based Silicon Processor
  </h1>
  <img src="assets/shakti/shakti-processor.png" width="1200px" height="500px">
  <br><br>
  RISC-V Workshop in Chennai, India, hosted by The Indian Institute of Technology Madras (IIT Madras), achieved a significant milestone by booting Linux on its first ever RISC-V based silicon chip processor named Shakti (Project Page). The team (which is partly funded by MeiTY, GOI  as part of the India Microprocessor development project ) aims to create a critical mass of CPU architects in India, according to the project lead (Via: Geek Dave, Hacker News, Twitter). Open-Source, patent-free domestic CPU production is well on the cards, according to experts.
  RISC-V
  For those of you who are not familiar, RISC-V is an open ISA (Instruction Set Architecture) developed as a project in 2010 by the University of California, Berkeley. First of all, an instruction set is merely the set of commands given to a CPU in machine language. Basically, it tells the CPU what it needs to do like, for example, add or compare.
  <br>
  <br>
  <br>
  
  Shakti Processor
  
  Due to their lower power consumption, ARM (Advanced RISC Machine) instruction set-based chips have dominated smartphone, tablets and other small device markets. Shakti is The RISC-V based processor that has been designed with small, speed, and low-power consumption in mind.
  Performance
  <br>
  <br>
  <br>
  
  Shakthi Processor RISC-V Linux
  
  Currently clocking at 400MHz, DMIPS/MHz – 1.67, this isn’t by any means outclassing raspberry Pi performance (nor does it intend to). It is a test chip taped-out on Intel’s 22nm FinFET Technology. Furthermore, the fact that Linux was able to boot presents a proof of concept of design by which the project team could further move towards more production-grade SoC designs.
  
  According to industry analysts, RISC-V based chips such as Shakti could be major players in IoT, and AI with an extensive ecosystem is in place.
  
  <br>
  <br>
  <br>
  
  Shakthi Processor RISC-V
  
  The Processor variants are of six categories with one Microcontroller (C Class) and five Processors (I, M, S, H, T Classes).
  Shakti, The ARM killer?
  
  Finally, what about all these hypes calling Shakti the new ARM killer?. This is probably not the case as the Project team denies such claims and rightly so. According to Sources, Shakti is already going into production with the first design in the control system of an experimental civilian nuclear reactor and will also deliver a whole host of IPs including the smaller trivial ones and also as needed bigger blocks like SRIO, PCIe, and DDR4.
  
  Project’s coordinator Mr. G.S Madhusudhan is confident of starting a trend that will see India push the envelope in terms of CPU architects and design. “I have no idea how successful we will be, and I frankly do not care. What we will achieve (and have to some extent already) is – create a critical mass of CPU architects in India – create a concept to fab eco-system in India for designing any class of CPUs – add a good dose of practical CPU design know-how into the engineering curriculum – become one of the top 5 CPU arch labs around,” 
  </article>
  </div>
  <app-footer></app-footer>
  </body>